/*
 * dd.css
 * dd feature style to fight 
 * against the bootstrap css
 */

#nordpanel .x-panel-header {
	height: 40px;
	padding-bottom: 40px;
}

.x-panel-bwrap {
	overflow: unset;
}

#nordtoolbar {
	margin: 0px;
	padding: 2px 8px 0px 8px;
}
