/* sass declaration part  */
/* rouge */
/* orange */
/* vert */
/* gris */
/* sass action */
/* feed.shell.css shell feature style */
.feed-shell-acct { top: 4px; right: 0; width: 210px; height: 32px; line-height: 32px; background: #888; color: #fff; text-align: center; cursor: pointer; overflow: hidden; text-overflow: ellipsis; float: right; /* added */ }

.feed-shell-nav { width: 400px; background: #eee; z-index: 1; }

/* feed.sidebar.css sidebar feature style */
h1 { font-size: 20px; border-bottom: 1px solid #ccc; padding-bottom: 4px; margin-bottom: 20px; margin-top: 3px; padding-left: 14px; }

h5 { display: table; }

.modal-header { padding: 7px 15px; }

/* bootstrap need */
@-moz-document url-prefix() { fieldset { display: table-cell; } }
/*eo bootstrap*/
.feed-sidebar-content-report-form-group-head { background-color: #eee; display: inline-block; padding: 5px; }

.feed-sidebar-content-home-box { color: #333; }

.feed-sidebar-content-home-buttons { margin-top: 10px; margin-left: 5px; }

.feed-sidebar-content-list-name { cursor: pointer; }

.feed-sidebar-content-list-name:hover { background-color: #AAA; color: #888; }

.feed-sidebar-content-list-name.feed-x-select { background-color: #FFF; color: #444; }

#tableReports_wrapper { padding-left: 3px; }

#tableReports { margin-left: -10px; }

#tableReports tbody { color: #b3b3b3; }

.feed-sidebar-content-list-td-statu-attente { color: #A94442; }

.feed-sidebar-content-list-td-statu-cours { color: #C4873B; }

.feed-sidebar-content-list-td-statu-traite { color: #3C763D; }

.feed-sidebar-content-list-td-statu-rejete { color: #555555; }

.feed-sidebar-content-report-statushistory { width: inherit !important; }

#feed-sidebar-content-report-statushistory tbody { color: #333333; }

#feed-sidebar-content-report-statushistory thead tr th:first-child { padding-left: 15px; }

#feed-sidebar-content-report-statushistory tbody tr td:first-child { padding-left: 15px; }

.feed-sidebar-content-report-group-loc { display: inline-block; }

.feed-sidebar-content-report-form-group-img-delete { display: none; }

.feed-sidebar-content-report-form-img-label { padding-right: 5px; }

.form-control { font-size: 12px; height: 26px; padding-top: 4px; }

.form-control-static { padding-top: 0px; }

.feed-sidebar-content-create-group-locate { display: inline-block; }

/*rewrite bootstrap*/
.form-group { margin-bottom: 12px; }

.form-horizontal .control-label { text-align: left; }

.form-title { margin-top: 25px; }

.form-label-localisation { margin-top: 10px; }

.is_selected { line-height: 2; padding-left: 3px; font-size: 12px; line-height: 1.5; }

.fileinput-button { position: relative; overflow: hidden; display: inline-block; margin-bottom: 10px; }

.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; direction: ltr; cursor: pointer; }

.fileinput-button .glyphicon { margin-left: 0; margin-right: 10px; }

.bar { height: 12px; background: #337ab7; }

.btn { margin-right: 10px; margin-bottom: 10px; }

.glyphicon { margin-left: 2px; }

.g-popup { color: #337ab7; font-size: 120%; cursor: pointer; }

.g-remove { color: #b73338; font-size: 120%; cursor: pointer; }

.g-edit { color: #337ab7; font-size: 120%; cursor: pointer; }

.g-delete { color: #b73338; font-size: 120%; cursor: pointer; }

.tr-selected { background-color: #f5f5f5; color: #888888; }

.required { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-repeat: no-repeat; background-attachment: scroll; background-position: right center; }

/* featureover layer_new */
.olAlphaImg { cursor: pointer; cursor: hand; }

/* featureover layer_markers */
circle { cursor: pointer; cursor: hand; }

/* popup */
.olPopup { color: #555; font-size: 12px; }

.feed-popup-content-head { background-color: #eee; margin-bottom: 10px; }

.feed-popup-content-body { margin-bottom: 0px; }

.feed-popup-content-body-td-text { padding-top: 0px !important; padding-bottom: 10px !important; }

.feed-popup-content-body-td-label { /*padding-top: 0px !important;
padding-bottom: 0px !important;*/ }

.table-condensed > tbody > tr > td { border-top: None; line-height: 0.4; }

.feed-popup-content-desc p { width: 350px; }

.feed-popup-content-statu-attente { color: #A94442; }

.feed-popup-content-statu-cours { color: #C4873B; }

.feed-popup-content-statu-traite { color: #3C763D; }

.feed-popup-content-statu-rejete { color: #555555; }

.feed-map-popup-img { margin-bottom: 15px; }

/*# sourceMappingURL=feed.css.map */
